{% extends 'base.html' %}

{% block content %}
<main class="container py5 mt-5">
    <section class="card card-body">
        <h1>Home</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat temporibus, laborum reiciendis fugiat
            praesentium accusamus atque culpa, excepturi adipisci delectus fuga saepe, sint maiores id accusantium
            officiis ea qui. Adipisci.</p>

            <div class="text-center">
                <a class="btn btn-secondary"  href="/signin/">
                    Signin
                </a>
                <a class="btn btn-dark"  href="/signup/">
                    Signup
                </a>
            </div>


    </section>
</main>
{% endblock %}